<div class="d-flex flex-row justify-content-center align-items-center">
        <a routerLink="" class="nav-link" title="PRS home page">Home</a>
        <a routerLink="/about" class="nav-link" title="About PRS">About</a>
        <span *ngIf="syssvc.loggedInUser.id != 0" class="d-flex flex-row">
            <a *ngFor="let m of menus" class="nav-link" routerLink="{{m.route}}" title="{{m.tooltip}}">{{m.display}}</a>
            <a *ngIf="syssvc.loggedInUser.isReviewer" routerLink="/requests/review/list" title="List of requests you can review" class="nav-link">Review</a>
        </span>
        <a *ngIf="syssvc.loggedInUser.id == 0" routerLink="/login" class="nav-link">Login</a>
        <span *ngIf="syssvc.loggedInUser.id != 0" class="nav-link" style="margin-left: 80px;">Hello, {{syssvc.loggedInUser.firstName}}</span>
        <a *ngIf="syssvc.loggedInUser.id != 0" routerLink="" (click)="syssvc.logout()" class="nav-link">Logout</a>
</div>