<div class="wrapper" style="height: calc(100vh - 40px);">
    <div class="text-center p-3" style="outline: #ccc solid 1px;">
        <h4 class="mb-3">Reset your password</h4>
        <table class="table headright">
            <tbody (keyup.enter)="reset()">
                <tr>
                    <th>New Password</th>
                    <td>
                        <input [(ngModel)]="userPassword" type="password" maxlength="100">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-3 mt-2">
        <button class="btn btn-primary" (click)="reset()">Reset</button>
    </div>
</div>