<div class="wrapper">
    <div class="mt-5">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>Total</th>
                <th>User</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{request.id}}</td>
                    <td>{{request.description}}</td>
                    <td>{{request.justification}}</td>
                    <td>{{request.deliveryMode}}</td>
                    <td *ngIf="request.status != 'REJECTED'">{{request.status}}</td>
                    <td *ngIf="request.status == 'REJECTED'" title="{{request.rejectionReason}}" style="text-decoration: underline;">{{request.status}}</td>
                    <td>{{request.total | currency}}</td>
                    <td *ngIf="request.user">{{request.user.firstName}} {{request.user.lastName}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <th>Product</th>
                <th>Vendor</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line total</th>
            </thead>
            <tbody>
                <tr *ngFor="let r of request.requestlines">
                    <td *ngIf="r.product">{{r.product.name}}</td>
                    <td *ngIf="r.product">{{r.product.vendor.name}}</td>
                    <td *ngIf="r.product">{{r.product.unit}}</td>
                    <td *ngIf="r.product">{{r.product.price | currency}}</td>
                    <td>{{r.quantity}}</td>
                    <td>{{r.product.price * r.quantity | currency}}</td>
                </tr>
            </tbody>
        </table>
        <div class="p-3 text-center">
            <button onclick="history.back(-1)" class="btn btn-secondary mr-4">Back</button>
            <button (click)="delete()" class="btn btn-danger mr-4">Delete Request</button>
            <button *ngIf="request.status == 'NEW' || request.status == 'REJECTED'" (click)="review()" class="btn btn-primary">Ready for Review</button>
        </div>
    </div>
</div>