<div class="wrapper">
    <div>
        <table class="table" *ngIf="orders" style="margin-top: 3rem;">
            <thead>
                <!-- <th (click)="sort('id')">Id</th> -->
                <th (click)="sort('description')">Description</th>
                <th (click)="sort('justification')">Justification</th>
                <th (click)="sort('deliveryMode')">Delivery Mode</th>
                <th (click)="sort('status')">Status</th>
                <th (click)="sort('total')">Total</th>
                <th (click)="sort('userId')">User</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let r of requests | sort:sortBy:asc">
                    <!-- <td>{{r.id}}</td> -->
                    <td title="{{r.description}}">{{r.description}}</td>
                    <td title="{{r.justification}}">{{r.justification}}</td>
                    <td>{{r.deliveryMode}}</td>
                    <td>{{r.status}}</td>
                    <td>{{r.total | currency}}</td>
                    <td>{{r.user.firstName}} {{r.user.lastName}}</td>
                    <td>
                        <a routerLink="/requests/review/{{r.id}}">Review</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h5 [hidden]="orders" style="margin-top: 3rem;">There are no orders you can review.</h5>
    </div>
</div>