<div>
    <table class="table">
        <tr>
            <td>
                <a routerLink="/users/create" class="btn btn-primary">+ Add New User</a>
                <input [(ngModel)]="searchCriteria" type="text" placeholder="Search...">
            </td>
        </tr>
    </table>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Reviewer</th>
            <th>Admin</th>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{u.id}}</td>
                <td>{{u.firstName}} {{u.lastName}}</td>
                <td>{{u.username}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.email}}</td>
                <td>{{u.isReviewer}}</td>
                <td>{{u.isAdmin}}</td>
                <td>
                    <a routerLink="/users/detail/{{u.id}}">Detail</a> | 
                    <a routerLink="/users/edit/{{u.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>