<div class="wrapper">
    <div class="p-3">
        <a  *ngIf="syssvc.loggedInUser.isAdmin"routerLink="/users/create" class="btn btn-primary mr-5">+ Add New User</a>
        <input [(ngModel)]="searchCriteria" type="text" placeholder="Search...">
    </div>
    <div>
        <table class="table">
            <thead>
                <th class="sticky-top" *ngIf="syssvc.loggedInUser.isAdmin" (click)="sort('id')">Id</th>
                <th class="sticky-top" (click)="sort('firstName')">Name</th>
                <th class="sticky-top" *ngIf="syssvc.loggedInUser.isAdmin"  (click)="sort('username')">Username</th>
                <th class="sticky-top" (click)="sort('phone')">Phone</th>
                <th class="sticky-top" (click)="sort('email')">Email</th>
                <th class="sticky-top" (click)="sort('isReviewer')" colspan="2" style="text-align: center;">Reviewer</th>
            </thead>
            <tbody>
                <tr *ngFor="let u of users | userSearch:searchCriteria | sort:sortBy:asc">
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''" *ngIf="syssvc.loggedInUser.isAdmin">{{u.id}}</td>
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''">{{u.firstName}} {{u.lastName}} <img *ngIf="u.isAdmin" class="admin-img" src="assets/img/shield.ico" title="admin"/></td>
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''" *ngIf="syssvc.loggedInUser.isAdmin" >{{u.username}}</td>
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''">{{u.phone}}</td>
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''">{{u.email}}</td>
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''" style="text-align: center;">{{u.isReviewer | boolToYesNo}}</td>
                    <td [ngClass]="syssvc.loggedInUser.id == u.id ? 'font-italic' : ''" *ngIf="syssvc.loggedInUser.isAdmin || syssvc.loggedInUser.id == u.id">
                        <span *ngIf="syssvc.loggedInUser.isAdmin"><a routerLink="/users/detail/{{u.id}}">Detail</a> | </span>
                        <a routerLink="/users/edit/{{u.id}}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>