<div>
    <table class="table">
        <tbody>
            <tr>
                <td>First name</td>
                <td>
                    <input [(ngModel)]="user.firstName" type="text" maxlength="30">
                </td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>
                    <input [(ngModel)]="user.lastName" type="text" maxlength="30">
                </td>
            </tr>
            <tr>
                <td>Username</td>
                <td>
                    <input [(ngModel)]="user.username" type="text" maxlength="30">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input [(ngModel)]="user.password" type="text" maxlength="30">
                </td>
            </tr>
            <tr>
                <td>Phone (optional)</td>
                <td>
                    <input [(ngModel)]="user.phone" type="text" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>Email (optional)</td>
                <td>
                    <input [(ngModel)]="user.email" type="text" maxlength="255">
                </td>
            </tr>
            <tr>
                <td>Make Reviewer?</td>
                <td>
                    <select [(ngModel)]="user.isReviewer">
                        <option [ngValue]="false">No (default)</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Make Administrator?</td>
                <td>
                    <select [(ngModel)]="user.isAdmin">
                        <option [ngValue]="false">No (default)</option>
                        <option [ngValue]="true">Yes</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button onclick="history.back(-1)" class="btn btn-secondary">Cancel</button>
                    <button (click)="save()" class="btn btn-primary">Create User</button>
                    <a class="btn btn-link" (click)="reset()">Reset to default values</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>