<div class="wrapper" style="height: calc(100vh - 40px);">
    <div class="text-center p-3" style="outline: #ccc solid 1px;">
        <h4 class="mb-3">Account Recovery</h4>
        <table class="table headright">
            <tbody (keyup.enter)="recover()">
                <tr>
                    <td colspan="2" style="max-width: 400px;">Just type the username and email address associated with your account, then we'll allow you to create a new password.</td>
                </tr>
                <tr>
                    <th class="pb-2">Username</th>
                    <td class="pb-2">
                        <input [(ngModel)]="username" type="text" maxlength="32">
                    </td>
                </tr>
                <tr>
                    <th class="pt-2">Email</th>
                    <td class="pt-2">
                        <input [(ngModel)]="email" type="text" maxlength="100">
                    </td>
                </tr>
                <tr *ngIf="message">
                    <td colspan="2" style="color: red;">{{message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-3 mt-2">
        <button onclick="history.back(-1)" class="btn btn-secondary mr-4">Back</button>
        <button class="btn btn-primary" (click)="recover()">Submit</button>
    </div>
</div>