<div>
    <table class="table">
        <tr>
            <td>
                <a *ngIf="syssvc.loggedInUser != null" routerLink="/requests/create/{{syssvc.loggedInUser.id}}" class="btn btn-primary">+ Add New Request</a>
                <input [(ngModel)]="searchCriteria" type="text" placeholder="Search...">
            </td>
        </tr>
    </table>
    <table class="table">
        <thead>
            <th (click)="sort('id')">Id</th>
            <th (click)="sort('description')">Description</th>
            <th (click)="sort('justification')">Justification</th>
            <th (click)="sort('deliveryMode')">Delivery Mode</th>
            <th (click)="sort('status')">Status</th>
            <th (click)="sort('total')">Total</th>
            <th (click)="sort('userId')">User</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let r of requests | requestSearch:searchCriteria | sort:sortBy:asc">
                <td>{{r.id}}</td>
                <td title="{{r.description}}">{{r.description}}</td>
                <td title="{{r.justification}}">{{r.justification}}</td>
                <td>{{r.deliveryMode}}</td>
                <td *ngIf="r.status != 'REJECTED'">{{r.status}}</td>
                <td *ngIf="r.status == 'REJECTED'" title="{{r.rejectionReason}}" style="text-decoration: underline;">{{r.status}}</td>
                <td>{{r.total | currency}}</td>
                <td>{{r.user.firstName}} {{r.user.lastName}}</td>
                <td>
                    <a routerLink="/requests/detail/{{r.id}}">Detail</a> | 
                    <a routerLink="/requests/edit/{{r.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>