<div class="wrapper">
    <div class="p-3">
        <a routerLink="/requests/create" class="btn btn-primary mr-5">+ Add New Request</a>
        <input [(ngModel)]="searchCriteria" type="text" placeholder="Search...">
    </div>
    <div>
        <table class="table">
            <thead>
                <th *ngIf="syssvc.loggedInUser.isAdmin" (click)="sort('id')">Id</th>
                <th (click)="sort('description')">Description</th>
                <th (click)="sort('justification')">Justification</th>
                <th (click)="sort('deliveryMode')">Delivery Mode</th>
                <th (click)="sort('status')">Status</th>
                <th (click)="sort('total')">Total</th>
                <th (click)="sort('userId')" colspan="2">User</th>
            </thead>
            <tbody>
                <tr *ngFor="let r of requests | requestSearch:searchCriteria | sort:sortBy:asc">
                    <td *ngIf="syssvc.loggedInUser.isAdmin">{{r.id}}</td>
                    <td title="{{r.description}}">{{r.description}}</td>
                    <td title="{{r.justification}}" style="width: 33%;">{{r.justification}}</td>
                    <td>{{r.deliveryMode}}</td>
                    <td *ngIf="r.status != 'REJECTED' && r.status != 'APPROVED'">{{r.status}}</td>
                    <td *ngIf="r.status != 'REJECTED' && r.status == 'APPROVED'" style="color: green;">{{r.status}}</td>
                    <td *ngIf="r.status == 'REJECTED'" title="{{r.rejectionReason}}" style="text-decoration: underline; color: red;">{{r.status}}</td>
                    <td>{{r.total | currency}}</td>
                    <td>{{r.user.firstName}} {{r.user.lastName}}</td>
                    <td *ngIf="syssvc.loggedInUser.isAdmin || syssvc.loggedInUser.id == r.userId">
                        <a routerLink="/requests/detail/{{r.id}}">Detail</a>
                        <span *ngIf="r.status != 'APPROVED' && syssvc.loggedInUser.id == r.userId"> | <a routerLink="/requests/edit/{{r.id}}">Edit</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>