html, body {
    background-color: #b1b1b1;
}
html {
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* input {
    border-radius: 20px;
} */