.table td, .table th, .sticky-top, .table thead th {
    border-width: 0 !important;
}

html, body {
    background-color: #f1f1f1;
}
html {
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, select {
    height: 2.5rem;
    width: 200px;
    padding: 0 0.75rem;
}
.admin-img {
    width: 16px;
    height: 16px;
}

td, th, tr {
    vertical-align: middle !important;
}
thead, .table thead th {
    background-color: #dedede !important;
}
#search {
    width: 250px;
}
.headright tbody tr th {
    text-align: right;
}
.top-menu {
    background-color: #fafafa;
}